.hero
    margin: -165px
    height: 1000px
    overflow: hidden
    background: #eff1f3 url(../img/Photo1.png)
    &__text-hero
        margin-top: 200px
        max-width: 785px
        margin: 200px auto 0 auto
        text-align: center
    &__title
        font-size: 62px
        display: block
        margin-bottom: 35px
    &__description
        font-size: 20px
        color:#8c8f94
        display: block
        margin-bottom: 60px
    &__watch-video
        
        background: #eef0f3
        border: 1px solid #d9dcde
        height: 50px
        width: 205px
        font-size: 16px
        border-radius: 30px
        font-family: 'Lato', sans-serif
        font-weight: 400
.phone-pic
   background: url(../img/iPhone6.png)no-repeat 
   background-size: contain
   height: 460px
   width: 390px
   margin: 70px auto 0 auto
@media (max-width: 768px)
    .hero__text-hero
        padding: 0 20px
    .hero__title
        font-size: 50px
    .hero_description
        font-size: 15px
@media (max-width: 700px)
    .hero__text-hero
        width: 100vw
        padding: 0 10px
        margin-top: 140px
    .hero__title
        font-size: 30px
        margin-bottom: 10px
    .hero_description
        font-size: 8px
    .phone-pic
@media (max-width: 320px)
    .phone-pic
        width: 320px