.hero
    margin: -125px
    height: 1000px
    overflow: hidden
    background: #eff1f3 url(../img/Photo1.png)
    &__text-hero
        margin-top: 200px
        width: 785px
        margin: 200px auto 0 auto
        text-align: center
    &__title
        font-size: 62px
        display: block
        margin: 0 auto
    &__description
        font-size: 20px
        color:#8c8f94
        margin-botton: 60px
        display: block